<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.custom.CustomTteacherMapper">


  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.TeacherTable">
    <id column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="teacher_sex" jdbcType="CHAR" property="teacherSex" />
    <result column="teacher_age" jdbcType="DATE" property="teacherAge" />
  </resultMap>

  	<select id="findTeacherList" parameterType="cn.itcast.ssm.po.original.TeacherTable"
  		 resultMap="BaseResultMap">
  		SELECT * FROM teacher_table
  		<where>
   			<if test="teacherName!=null and teacherName != ''">
   				teacher_name LIKE '%${teacherName}%'
   			</if>

  		</where>
  	</select>

</mapper>