@charset "UTF-8";
       
			.cls_pwd{
				background-color: rgb(42, 201, 196);
			}
			tr {
				background-color: rgb(231, 140, 142);
			}
			#id_div_login{
				background-color: rgb(231, 140, 142);
			}

	