   .th {
		text-align: right;
		color: rgb(255, 255, 255);
		font-size: 100px;
		text-align: center;
	}
	
	.color { color: rgb(255, 255, 255) ;
	        font-size: 60px;
	      }
	 
	 .background {
		background-color: rgb(255, 255, 0); 
	 }
	 .thead {
		 background-color: rgb(255, 128, 0); 
		 font-size: 20px;
		 color: white;
	 }
	 .a {
		 text-align: right;
		 text-decoration-line: underline;
	 }
	 .button {
		 background-color: rgb(128, 255, 128);
	 }