<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.original.TeacherTableMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.TeacherTable">
    <id column="teacher_id" jdbcType="VARCHAR" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="teacher_sex" jdbcType="CHAR" property="teacherSex" />
    <result column="teacher_age" jdbcType="DATE" property="teacherAge" />
  </resultMap>
  <sql id="Base_Column_List">
    teacher_id, teacher_name, teacher_sex, teacher_age
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teacher_table
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from teacher_table
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.TeacherTable">
    insert into teacher_table (teacher_id, teacher_name, teacher_sex, 
      teacher_age)
    values (#{teacherId,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, #{teacherSex,jdbcType=CHAR}, 
      #{teacherAge,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.TeacherTable">
    insert into teacher_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teacherId != null">
        teacher_id,
      </if>
      <if test="teacherName != null">
        teacher_name,
      </if>
      <if test="teacherSex != null">
        teacher_sex,
      </if>
      <if test="teacherAge != null">
        teacher_age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teacherId != null">
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null">
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null">
        #{teacherSex,jdbcType=CHAR},
      </if>
      <if test="teacherAge != null">
        #{teacherAge,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.TeacherTable">
    update teacher_table
    <set>
      <if test="teacherName != null">
        teacher_name = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="teacherSex != null">
        teacher_sex = #{teacherSex,jdbcType=CHAR},
      </if>
      <if test="teacherAge != null">
        teacher_age = #{teacherAge,jdbcType=DATE},
      </if>
    </set>
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.TeacherTable">
    update teacher_table
    set teacher_name = #{teacherName,jdbcType=VARCHAR},
      teacher_sex = #{teacherSex,jdbcType=CHAR},
      teacher_age = #{teacherAge,jdbcType=DATE}
    where teacher_id = #{teacherId,jdbcType=VARCHAR}
  </update>
</mapper>