<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.custom.CustomJleagueMapper">
  	<select id="findJleagueList" parameterType="cn.itcast.ssm.po.original.Jleague"
  		 resultMap="cn.itcast.ssm.mapper.original.JleagueMapper.BaseResultMap">
  		SELECT * FROM JLEAGUE
  		<where>
   			<if test="sei!=null and sei != ''">
   				SEI LIKE '%${sei}%'
   			</if>
   			<if test="na!=null and na != ''">
   				NA LIKE '%${na}%'
   			</if>
   			<if test="telnumber!=null and telnumber != ''">
   				TELNUMBER = #{telnumber}
   			</if>
   			<if test="address!=null and address != ''">
   				ADDRESS LIKE '%${address}%'
   			</if>
  		</where>
  	</select>

</mapper>