<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.original.CatTableMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.CatTable">
    <id column="cat_id" jdbcType="VARCHAR" property="catId" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="cat_sex" jdbcType="CHAR" property="catSex" />
    <result column="cat_age" jdbcType="DATE" property="catAge" />
    <result column="cat_weight" jdbcType="DECIMAL" property="catWeight" />
  </resultMap>
  <sql id="Base_Column_List">
    cat_id, cat_name, cat_sex, cat_age, cat_weight
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cat_table
    where cat_id = #{catId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cat_table
    where cat_id = #{catId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.CatTable">
    insert into cat_table (cat_id, cat_name, cat_sex, 
      cat_age, cat_weight)
    values (#{catId,jdbcType=VARCHAR}, #{catName,jdbcType=VARCHAR}, #{catSex,jdbcType=CHAR}, 
      #{catAge,jdbcType=DATE}, #{catWeight,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.CatTable">
    insert into cat_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catId != null">
        cat_id,
      </if>
      <if test="catName != null">
        cat_name,
      </if>
      <if test="catSex != null">
        cat_sex,
      </if>
      <if test="catAge != null">
        cat_age,
      </if>
      <if test="catWeight != null">
        cat_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catId != null">
        #{catId,jdbcType=VARCHAR},
      </if>
      <if test="catName != null">
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="catSex != null">
        #{catSex,jdbcType=CHAR},
      </if>
      <if test="catAge != null">
        #{catAge,jdbcType=DATE},
      </if>
      <if test="catWeight != null">
        #{catWeight,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.CatTable">
    update cat_table
    <set>
      <if test="catName != null">
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="catSex != null">
        cat_sex = #{catSex,jdbcType=CHAR},
      </if>
      <if test="catAge != null">
        cat_age = #{catAge,jdbcType=DATE},
      </if>
      <if test="catWeight != null">
        cat_weight = #{catWeight,jdbcType=DECIMAL},
      </if>
    </set>
    where cat_id = #{catId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.CatTable">
    update cat_table
    set cat_name = #{catName,jdbcType=VARCHAR},
      cat_sex = #{catSex,jdbcType=CHAR},
      cat_age = #{catAge,jdbcType=DATE},
      cat_weight = #{catWeight,jdbcType=DECIMAL}
    where cat_id = #{catId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.CatTable">
    <id column="cat_id" jdbcType="VARCHAR" property="catId" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="cat_sex" jdbcType="CHAR" property="catSex" />
    <result column="cat_age" jdbcType="DATE" property="catAge" />
    <result column="cat_weight" jdbcType="DECIMAL" property="catWeight" />
  </resultMap>
  <sql id="Base_Column_List">
    cat_id, cat_name, cat_sex, cat_age, cat_weight
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cat_table
    where cat_id = #{catId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cat_table
    where cat_id = #{catId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.CatTable">
    insert into cat_table (cat_id, cat_name, cat_sex, 
      cat_age, cat_weight)
    values (#{catId,jdbcType=VARCHAR}, #{catName,jdbcType=VARCHAR}, #{catSex,jdbcType=CHAR}, 
      #{catAge,jdbcType=DATE}, #{catWeight,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.CatTable">
    insert into cat_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catId != null">
        cat_id,
      </if>
      <if test="catName != null">
        cat_name,
      </if>
      <if test="catSex != null">
        cat_sex,
      </if>
      <if test="catAge != null">
        cat_age,
      </if>
      <if test="catWeight != null">
        cat_weight,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catId != null">
        #{catId,jdbcType=VARCHAR},
      </if>
      <if test="catName != null">
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="catSex != null">
        #{catSex,jdbcType=CHAR},
      </if>
      <if test="catAge != null">
        #{catAge,jdbcType=DATE},
      </if>
      <if test="catWeight != null">
        #{catWeight,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.CatTable">
    update cat_table
    <set>
      <if test="catName != null">
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="catSex != null">
        cat_sex = #{catSex,jdbcType=CHAR},
      </if>
      <if test="catAge != null">
        cat_age = #{catAge,jdbcType=DATE},
      </if>
      <if test="catWeight != null">
        cat_weight = #{catWeight,jdbcType=DECIMAL},
      </if>
    </set>
    where cat_id = #{catId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.CatTable">
    update cat_table
    set cat_name = #{catName,jdbcType=VARCHAR},
      cat_sex = #{catSex,jdbcType=CHAR},
      cat_age = #{catAge,jdbcType=DATE},
      cat_weight = #{catWeight,jdbcType=DECIMAL}
    where cat_id = #{catId,jdbcType=VARCHAR}
  </update>
</mapper>