<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.original.JleagueMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.Jleague">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SEI" jdbcType="VARCHAR" property="sei" />
    <result column="NA" jdbcType="VARCHAR" property="na" />
    <result column="BRITH" jdbcType="TIMESTAMP" property="brith" />
    <result column="TEAM" jdbcType="VARCHAR" property="team" />
    <result column="TELNUMBER" jdbcType="VARCHAR" property="telnumber" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PLACE_OF_BIRTH" jdbcType="VARCHAR" property="placeOfBirth" />
    <result column="SALARY" jdbcType="CHAR" property="salary" />
    <result column="JP_DEPUTY" jdbcType="CHAR" property="jpDeputy" />
    <result column="SKILL" jdbcType="VARCHAR" property="skill" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="RCL" jdbcType="VARCHAR" property="rcl" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SEI, NA, BRITH, TEAM, TELNUMBER, ADDRESS, PLACE_OF_BIRTH, SALARY, JP_DEPUTY, 
    SKILL, POSITION, RCL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jleague
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jleague
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.Jleague">
    insert into jleague (ID, SEI, NA, 
      BRITH, TEAM, TELNUMBER, 
      ADDRESS, PLACE_OF_BIRTH, SALARY, 
      JP_DEPUTY, SKILL, POSITION, 
      RCL)
    values (#{id,jdbcType=INTEGER}, #{sei,jdbcType=VARCHAR}, #{na,jdbcType=VARCHAR}, 
      #{brith,jdbcType=TIMESTAMP}, #{team,jdbcType=VARCHAR}, #{telnumber,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{placeOfBirth,jdbcType=VARCHAR}, #{salary,jdbcType=CHAR}, 
      #{jpDeputy,jdbcType=CHAR}, #{skill,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{rcl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.Jleague">
    insert into jleague
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sei != null">
        SEI,
      </if>
      <if test="na != null">
        NA,
      </if>
      <if test="brith != null">
        BRITH,
      </if>
      <if test="team != null">
        TEAM,
      </if>
      <if test="telnumber != null">
        TELNUMBER,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="placeOfBirth != null">
        PLACE_OF_BIRTH,
      </if>
      <if test="salary != null">
        SALARY,
      </if>
      <if test="jpDeputy != null">
        JP_DEPUTY,
      </if>
      <if test="skill != null">
        SKILL,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="rcl != null">
        RCL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sei != null">
        #{sei,jdbcType=VARCHAR},
      </if>
      <if test="na != null">
        #{na,jdbcType=VARCHAR},
      </if>
      <if test="brith != null">
        #{brith,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null">
        #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="placeOfBirth != null">
        #{placeOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=CHAR},
      </if>
      <if test="jpDeputy != null">
        #{jpDeputy,jdbcType=CHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="rcl != null">
        #{rcl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.Jleague">
    update jleague
    <set>
      <if test="sei != null">
        SEI = #{sei,jdbcType=VARCHAR},
      </if>
      <if test="na != null">
        NA = #{na,jdbcType=VARCHAR},
      </if>
      <if test="brith != null">
        BRITH = #{brith,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        TEAM = #{team,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null">
        TELNUMBER = #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="placeOfBirth != null">
        PLACE_OF_BIRTH = #{placeOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        SALARY = #{salary,jdbcType=CHAR},
      </if>
      <if test="jpDeputy != null">
        JP_DEPUTY = #{jpDeputy,jdbcType=CHAR},
      </if>
      <if test="skill != null">
        SKILL = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="rcl != null">
        RCL = #{rcl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.Jleague">
    update jleague
    set SEI = #{sei,jdbcType=VARCHAR},
      NA = #{na,jdbcType=VARCHAR},
      BRITH = #{brith,jdbcType=TIMESTAMP},
      TEAM = #{team,jdbcType=VARCHAR},
      TELNUMBER = #{telnumber,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PLACE_OF_BIRTH = #{placeOfBirth,jdbcType=VARCHAR},
      SALARY = #{salary,jdbcType=CHAR},
      JP_DEPUTY = #{jpDeputy,jdbcType=CHAR},
      SKILL = #{skill,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      RCL = #{rcl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.Jleague">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="SEI" jdbcType="VARCHAR" property="sei" />
    <result column="NA" jdbcType="VARCHAR" property="na" />
    <result column="BRITH" jdbcType="TIMESTAMP" property="brith" />
    <result column="TEAM" jdbcType="VARCHAR" property="team" />
    <result column="TELNUMBER" jdbcType="VARCHAR" property="telnumber" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PLACE_OF_BIRTH" jdbcType="VARCHAR" property="placeOfBirth" />
    <result column="SALARY" jdbcType="CHAR" property="salary" />
    <result column="JP_DEPUTY" jdbcType="CHAR" property="jpDeputy" />
    <result column="SKILL" jdbcType="VARCHAR" property="skill" />
    <result column="POSITION" jdbcType="VARCHAR" property="position" />
    <result column="RCL" jdbcType="VARCHAR" property="rcl" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, SEI, NA, BRITH, TEAM, TELNUMBER, ADDRESS, PLACE_OF_BIRTH, SALARY, JP_DEPUTY, 
    SKILL, POSITION, RCL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jleague
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jleague
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.Jleague">
    insert into jleague (ID, SEI, NA, 
      BRITH, TEAM, TELNUMBER, 
      ADDRESS, PLACE_OF_BIRTH, SALARY, 
      JP_DEPUTY, SKILL, POSITION, 
      RCL)
    values (#{id,jdbcType=INTEGER}, #{sei,jdbcType=VARCHAR}, #{na,jdbcType=VARCHAR}, 
      #{brith,jdbcType=TIMESTAMP}, #{team,jdbcType=VARCHAR}, #{telnumber,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{placeOfBirth,jdbcType=VARCHAR}, #{salary,jdbcType=CHAR}, 
      #{jpDeputy,jdbcType=CHAR}, #{skill,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{rcl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.Jleague">
    insert into jleague
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="sei != null">
        SEI,
      </if>
      <if test="na != null">
        NA,
      </if>
      <if test="brith != null">
        BRITH,
      </if>
      <if test="team != null">
        TEAM,
      </if>
      <if test="telnumber != null">
        TELNUMBER,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="placeOfBirth != null">
        PLACE_OF_BIRTH,
      </if>
      <if test="salary != null">
        SALARY,
      </if>
      <if test="jpDeputy != null">
        JP_DEPUTY,
      </if>
      <if test="skill != null">
        SKILL,
      </if>
      <if test="position != null">
        POSITION,
      </if>
      <if test="rcl != null">
        RCL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sei != null">
        #{sei,jdbcType=VARCHAR},
      </if>
      <if test="na != null">
        #{na,jdbcType=VARCHAR},
      </if>
      <if test="brith != null">
        #{brith,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        #{team,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null">
        #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="placeOfBirth != null">
        #{placeOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=CHAR},
      </if>
      <if test="jpDeputy != null">
        #{jpDeputy,jdbcType=CHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="rcl != null">
        #{rcl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.Jleague">
    update jleague
    <set>
      <if test="sei != null">
        SEI = #{sei,jdbcType=VARCHAR},
      </if>
      <if test="na != null">
        NA = #{na,jdbcType=VARCHAR},
      </if>
      <if test="brith != null">
        BRITH = #{brith,jdbcType=TIMESTAMP},
      </if>
      <if test="team != null">
        TEAM = #{team,jdbcType=VARCHAR},
      </if>
      <if test="telnumber != null">
        TELNUMBER = #{telnumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="placeOfBirth != null">
        PLACE_OF_BIRTH = #{placeOfBirth,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        SALARY = #{salary,jdbcType=CHAR},
      </if>
      <if test="jpDeputy != null">
        JP_DEPUTY = #{jpDeputy,jdbcType=CHAR},
      </if>
      <if test="skill != null">
        SKILL = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="rcl != null">
        RCL = #{rcl,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.Jleague">
    update jleague
    set SEI = #{sei,jdbcType=VARCHAR},
      NA = #{na,jdbcType=VARCHAR},
      BRITH = #{brith,jdbcType=TIMESTAMP},
      TEAM = #{team,jdbcType=VARCHAR},
      TELNUMBER = #{telnumber,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PLACE_OF_BIRTH = #{placeOfBirth,jdbcType=VARCHAR},
      SALARY = #{salary,jdbcType=CHAR},
      JP_DEPUTY = #{jpDeputy,jdbcType=CHAR},
      SKILL = #{skill,jdbcType=VARCHAR},
      POSITION = #{position,jdbcType=VARCHAR},
      RCL = #{rcl,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>