<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.original.KyarakutaTableMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.KyarakutaTable">
    <id column="kyarakuta_id" jdbcType="VARCHAR" property="kyarakutaId" />
    <result column="kyarakuta_name" jdbcType="VARCHAR" property="kyarakutaName" />
    <result column="kyarakuta_sex" jdbcType="CHAR" property="kyarakutaSex" />
    <result column="kyarakuta_age" jdbcType="DATE" property="kyarakutaAge" />
    <result column="kyarakuta_salary" jdbcType="DECIMAL" property="kyarakutaSalary" />
  </resultMap>
  <sql id="Base_Column_List">
    kyarakuta_id, kyarakuta_name, kyarakuta_sex, kyarakuta_age, kyarakuta_salary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kyarakuta_table
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kyarakuta_table
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    insert into kyarakuta_table (kyarakuta_id, kyarakuta_name, kyarakuta_sex, 
      kyarakuta_age, kyarakuta_salary)
    values (#{kyarakutaId,jdbcType=VARCHAR}, #{kyarakutaName,jdbcType=VARCHAR}, #{kyarakutaSex,jdbcType=CHAR}, 
      #{kyarakutaAge,jdbcType=DATE}, #{kyarakutaSalary,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    insert into kyarakuta_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kyarakutaId != null">
        kyarakuta_id,
      </if>
      <if test="kyarakutaName != null">
        kyarakuta_name,
      </if>
      <if test="kyarakutaSex != null">
        kyarakuta_sex,
      </if>
      <if test="kyarakutaAge != null">
        kyarakuta_age,
      </if>
      <if test="kyarakutaSalary != null">
        kyarakuta_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kyarakutaId != null">
        #{kyarakutaId,jdbcType=VARCHAR},
      </if>
      <if test="kyarakutaName != null">
        #{kyarakutaName,jdbcType=VARCHAR},
      </if>
      <if test="kyarakutaSex != null">
        #{kyarakutaSex,jdbcType=CHAR},
      </if>
      <if test="kyarakutaAge != null">
        #{kyarakutaAge,jdbcType=DATE},
      </if>
      <if test="kyarakutaSalary != null">
        #{kyarakutaSalary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    update kyarakuta_table
    <set>
      <if test="kyarakutaName != null">
        kyarakuta_name = #{kyarakutaName,jdbcType=VARCHAR},
      </if>
      <if test="kyarakutaSex != null">
        kyarakuta_sex = #{kyarakutaSex,jdbcType=CHAR},
      </if>
      <if test="kyarakutaAge != null">
        kyarakuta_age = #{kyarakutaAge,jdbcType=DATE},
      </if>
      <if test="kyarakutaSalary != null">
        kyarakuta_salary = #{kyarakutaSalary,jdbcType=DECIMAL},
      </if>
    </set>
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    update kyarakuta_table
    set kyarakuta_name = #{kyarakutaName,jdbcType=VARCHAR},
      kyarakuta_sex = #{kyarakutaSex,jdbcType=CHAR},
      kyarakuta_age = #{kyarakutaAge,jdbcType=DATE},
      kyarakuta_salary = #{kyarakutaSalary,jdbcType=DECIMAL}
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.KyarakutaTable">
    <id column="kyarakuta_id" jdbcType="VARCHAR" property="kyarakutaId" />
    <result column="kyarakuta_name" jdbcType="VARCHAR" property="kyarakutaName" />
    <result column="kyarakuta_sex" jdbcType="CHAR" property="kyarakutaSex" />
    <result column="kyarakuta_age" jdbcType="DATE" property="kyarakutaAge" />
    <result column="kyarakuta_salary" jdbcType="DECIMAL" property="kyarakutaSalary" />
  </resultMap>
  <sql id="Base_Column_List">
    kyarakuta_id, kyarakuta_name, kyarakuta_sex, kyarakuta_age, kyarakuta_salary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kyarakuta_table
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from kyarakuta_table
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    insert into kyarakuta_table (kyarakuta_id, kyarakuta_name, kyarakuta_sex, 
      kyarakuta_age, kyarakuta_salary)
    values (#{kyarakutaId,jdbcType=VARCHAR}, #{kyarakutaName,jdbcType=VARCHAR}, #{kyarakutaSex,jdbcType=CHAR}, 
      #{kyarakutaAge,jdbcType=DATE}, #{kyarakutaSalary,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    insert into kyarakuta_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kyarakutaId != null">
        kyarakuta_id,
      </if>
      <if test="kyarakutaName != null">
        kyarakuta_name,
      </if>
      <if test="kyarakutaSex != null">
        kyarakuta_sex,
      </if>
      <if test="kyarakutaAge != null">
        kyarakuta_age,
      </if>
      <if test="kyarakutaSalary != null">
        kyarakuta_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kyarakutaId != null">
        #{kyarakutaId,jdbcType=VARCHAR},
      </if>
      <if test="kyarakutaName != null">
        #{kyarakutaName,jdbcType=VARCHAR},
      </if>
      <if test="kyarakutaSex != null">
        #{kyarakutaSex,jdbcType=CHAR},
      </if>
      <if test="kyarakutaAge != null">
        #{kyarakutaAge,jdbcType=DATE},
      </if>
      <if test="kyarakutaSalary != null">
        #{kyarakutaSalary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    update kyarakuta_table
    <set>
      <if test="kyarakutaName != null">
        kyarakuta_name = #{kyarakutaName,jdbcType=VARCHAR},
      </if>
      <if test="kyarakutaSex != null">
        kyarakuta_sex = #{kyarakutaSex,jdbcType=CHAR},
      </if>
      <if test="kyarakutaAge != null">
        kyarakuta_age = #{kyarakutaAge,jdbcType=DATE},
      </if>
      <if test="kyarakutaSalary != null">
        kyarakuta_salary = #{kyarakutaSalary,jdbcType=DECIMAL},
      </if>
    </set>
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.KyarakutaTable">
    update kyarakuta_table
    set kyarakuta_name = #{kyarakutaName,jdbcType=VARCHAR},
      kyarakuta_sex = #{kyarakutaSex,jdbcType=CHAR},
      kyarakuta_age = #{kyarakutaAge,jdbcType=DATE},
      kyarakuta_salary = #{kyarakutaSalary,jdbcType=DECIMAL}
    where kyarakuta_id = #{kyarakutaId,jdbcType=VARCHAR}
  </update>
</mapper>