<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.original.PersonTableMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.PersonTable">
    <id column="person_id" jdbcType="VARCHAR" property="personId" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="person_sex" jdbcType="CHAR" property="personSex" />
    <result column="person_age" jdbcType="DATE" property="personAge" />
    <result column="person_salary" jdbcType="DECIMAL" property="personSalary" />
  </resultMap>
  <sql id="Base_Column_List">
    person_id, person_name, person_sex, person_age, person_salary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_table
    where person_id = #{personId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from person_table
    where person_id = #{personId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.PersonTable">
    insert into person_table (person_id, person_name, person_sex, 
      person_age, person_salary)
    values (#{personId,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{personSex,jdbcType=CHAR}, 
      #{personAge,jdbcType=DATE}, #{personSalary,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.PersonTable">
    insert into person_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="personId != null">
        person_id,
      </if>
      <if test="personName != null">
        person_name,
      </if>
      <if test="personSex != null">
        person_sex,
      </if>
      <if test="personAge != null">
        person_age,
      </if>
      <if test="personSalary != null">
        person_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="personId != null">
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="personName != null">
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personSex != null">
        #{personSex,jdbcType=CHAR},
      </if>
      <if test="personAge != null">
        #{personAge,jdbcType=DATE},
      </if>
      <if test="personSalary != null">
        #{personSalary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.PersonTable">
    update person_table
    <set>
      <if test="personName != null">
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personSex != null">
        person_sex = #{personSex,jdbcType=CHAR},
      </if>
      <if test="personAge != null">
        person_age = #{personAge,jdbcType=DATE},
      </if>
      <if test="personSalary != null">
        person_salary = #{personSalary,jdbcType=DECIMAL},
      </if>
    </set>
    where person_id = #{personId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.PersonTable">
    update person_table
    set person_name = #{personName,jdbcType=VARCHAR},
      person_sex = #{personSex,jdbcType=CHAR},
      person_age = #{personAge,jdbcType=DATE},
      person_salary = #{personSalary,jdbcType=DECIMAL}
    where person_id = #{personId,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.PersonTable">
    <id column="person_id" jdbcType="VARCHAR" property="personId" />
    <result column="person_name" jdbcType="VARCHAR" property="personName" />
    <result column="person_sex" jdbcType="CHAR" property="personSex" />
    <result column="person_age" jdbcType="DATE" property="personAge" />
    <result column="person_salary" jdbcType="DECIMAL" property="personSalary" />
  </resultMap>
  <sql id="Base_Column_List">
    person_id, person_name, person_sex, person_age, person_salary
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_table
    where person_id = #{personId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from person_table
    where person_id = #{personId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.PersonTable">
    insert into person_table (person_id, person_name, person_sex, 
      person_age, person_salary)
    values (#{personId,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, #{personSex,jdbcType=CHAR}, 
      #{personAge,jdbcType=DATE}, #{personSalary,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.PersonTable">
    insert into person_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="personId != null">
        person_id,
      </if>
      <if test="personName != null">
        person_name,
      </if>
      <if test="personSex != null">
        person_sex,
      </if>
      <if test="personAge != null">
        person_age,
      </if>
      <if test="personSalary != null">
        person_salary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="personId != null">
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="personName != null">
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personSex != null">
        #{personSex,jdbcType=CHAR},
      </if>
      <if test="personAge != null">
        #{personAge,jdbcType=DATE},
      </if>
      <if test="personSalary != null">
        #{personSalary,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.PersonTable">
    update person_table
    <set>
      <if test="personName != null">
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="personSex != null">
        person_sex = #{personSex,jdbcType=CHAR},
      </if>
      <if test="personAge != null">
        person_age = #{personAge,jdbcType=DATE},
      </if>
      <if test="personSalary != null">
        person_salary = #{personSalary,jdbcType=DECIMAL},
      </if>
    </set>
    where person_id = #{personId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.PersonTable">
    update person_table
    set person_name = #{personName,jdbcType=VARCHAR},
      person_sex = #{personSex,jdbcType=CHAR},
      person_age = #{personAge,jdbcType=DATE},
      person_salary = #{personSalary,jdbcType=DECIMAL}
    where person_id = #{personId,jdbcType=VARCHAR}
  </update>
</mapper>