<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.original.TCarinfoMapper">
  <resultMap id="BaseResultMap" type="cn.itcast.ssm.po.original.TCarinfo">
    <id column="car_id" jdbcType="VARCHAR" property="carId" />
    <result column="car_maker" jdbcType="VARCHAR" property="carMaker" />
    <result column="car_type" jdbcType="VARCHAR" property="carType" />
    <result column="car_price" jdbcType="VARCHAR" property="carPrice" />
    <result column="car_mileage" jdbcType="VARCHAR" property="carMileage" />
    <result column="car_repair" jdbcType="CHAR" property="carRepair" />
    <result column="car_displacement" jdbcType="VARCHAR" property="carDisplacement" />
  </resultMap>
  <sql id="Base_Column_List">
    car_id, car_maker, car_type, car_price, car_mileage, car_repair, car_displacement
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_carinfo
    where car_id = #{carId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_carinfo
    where car_id = #{carId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.itcast.ssm.po.original.TCarinfo">
    insert into t_carinfo (car_id, car_maker, car_type, 
      car_price, car_mileage, car_repair, 
      car_displacement)
    values (#{carId,jdbcType=VARCHAR}, #{carMaker,jdbcType=VARCHAR}, #{carType,jdbcType=VARCHAR}, 
      #{carPrice,jdbcType=VARCHAR}, #{carMileage,jdbcType=VARCHAR}, #{carRepair,jdbcType=CHAR}, 
      #{carDisplacement,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.itcast.ssm.po.original.TCarinfo">
    insert into t_carinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        car_id,
      </if>
      <if test="carMaker != null">
        car_maker,
      </if>
      <if test="carType != null">
        car_type,
      </if>
      <if test="carPrice != null">
        car_price,
      </if>
      <if test="carMileage != null">
        car_mileage,
      </if>
      <if test="carRepair != null">
        car_repair,
      </if>
      <if test="carDisplacement != null">
        car_displacement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="carId != null">
        #{carId,jdbcType=VARCHAR},
      </if>
      <if test="carMaker != null">
        #{carMaker,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carPrice != null">
        #{carPrice,jdbcType=VARCHAR},
      </if>
      <if test="carMileage != null">
        #{carMileage,jdbcType=VARCHAR},
      </if>
      <if test="carRepair != null">
        #{carRepair,jdbcType=CHAR},
      </if>
      <if test="carDisplacement != null">
        #{carDisplacement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.itcast.ssm.po.original.TCarinfo">
    update t_carinfo
    <set>
      <if test="carMaker != null">
        car_maker = #{carMaker,jdbcType=VARCHAR},
      </if>
      <if test="carType != null">
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carPrice != null">
        car_price = #{carPrice,jdbcType=VARCHAR},
      </if>
      <if test="carMileage != null">
        car_mileage = #{carMileage,jdbcType=VARCHAR},
      </if>
      <if test="carRepair != null">
        car_repair = #{carRepair,jdbcType=CHAR},
      </if>
      <if test="carDisplacement != null">
        car_displacement = #{carDisplacement,jdbcType=VARCHAR},
      </if>
    </set>
    where car_id = #{carId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itcast.ssm.po.original.TCarinfo">
    update t_carinfo
    set car_maker = #{carMaker,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      car_price = #{carPrice,jdbcType=VARCHAR},
      car_mileage = #{carMileage,jdbcType=VARCHAR},
      car_repair = #{carRepair,jdbcType=CHAR},
      car_displacement = #{carDisplacement,jdbcType=VARCHAR}
    where car_id = #{carId,jdbcType=VARCHAR}
  </update>
</mapper>